<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="@string/app_name">

        <activity
            android:name=".CheckActivity"
            android:exported="true" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".SimConfigProvider"
            android:authorities="com.rootdemo.simspoofer.config"
            android:exported="true" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="SIM/ICCID/IMSI/号码 伪造（运行于 Vector）" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>

</manifest>
